/* Layout 스타일 */
.layout {
  overflow: hidden;
  margin: 0 auto;
}

/* TitleWrapper 스타일 */
.title-wrapper {
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: var(--title-color);
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

/* WeddingInvitation 스타일 */
.wedding-invitation {
  font-size: 0.825rem;
  opacity: 0.45;
  margin-bottom: 16px;
}

/* GroomBride 스타일 */
.groom-bride {
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 16px;
}

/* Schedule 스타일 */
.schedule {
  font-size: 1.06rem;
  opacity: 0.65;
  margin-top: 120px;
  margin-bottom: 24px;
}

/* VideoBackground 스타일 */
.video-background {
  width: 100%;
}

/* Fade-in animation */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.names-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.name-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name-english {
  font-family: "Playwrite MX Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.name-korean {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1em;
  letter-spacing: 0.2em;
  margin-top: 0.5rem; /* 간격 추가 */
}

.divider {
  width: 2px;
  background-color: #ddd;
  height: 4rem; /* 적절한 높이 설정 */
}

.wedding-title {
  width: 100%;
  height: 100%;
  position: relative;;
}