.wrapper {
  padding-top: 42px;
  margin: 0 auto;
  width: 70%;
}

.title {
  font-size: 1rem;
  color: var(--title-color);
  font-weight: bold;
  opacity: 0.85;
  margin-bottom: 0;
  text-align: center;
}

.content {
  font-size: 0.72rem;
  line-height: 1.75;
  opacity: 0.75;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
}

.groom-bride {
  font-size: 0.875rem;
  line-height: 1.75;
  opacity: 0.85;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
  width: 1.375rem;
  padding-bottom: 42px;
}
